html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
}
.container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.header,
.footer,
.body {
    display: flex;
}
.header {
    gap: 5px;
    .bp6-divider {
        margin-left: auto;
        margin-right: auto;
    }
    padding: 3px;
    .record-button {
        margin-left: auto;
    }
}
.body {
    flex-grow: 1;
    overflow: hidden;
    flex-basis: 0;
}

.display-container {
    position: relative;
    overflow: hidden;
    background-color: aliceblue;
    flex-basis: 0;
    flex-grow: 1;
    max-height: 1fr;
}
